:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --pressed-color: #404bbf;
  --main-background-color: #ffffff;
  --hero-title-color: #ffffff;
  --hero-button-color: #ffffff;
  --hero-background-color: #2e2f42;
  --team-background: #f4f4fd;
  --team-item-background: #ffffff;
  --footer-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --filter-btn-coolor: #f4f4fd;
  --font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.item {
  list-style: none;
}
.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------- HEADER --------------- */
.header {
}
.header-navigation {
}
.header-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.web {
  color: var(--accent-color);
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.address-list {
}

.header-mailto {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-mailto:hover,
.header-mailto:focus {
  color: var(--pressed-color);
}

.header-tel {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--pressed-color);
}

/*----------------- HERO --------------- */
.hero {
  background: var(--hero-background-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-button-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--pressed-color);
}
/*----------------- FEATURES --------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features {
}
.feature-title {
}
.feature-list {
}
.feature-item {
}
.feature-text {
}
/*----------------- ACTIONS --------------- */
.action {
}
.action-title {
}
.action-list {
}
.action-item {
}
/*-----------------TEAM --------------- */
.team {
  background: var(--team-background);
}
.team-title {
}
.team-list {
}
.team-item {
  background: var(--team-item-background);
}
.team-subtitle {
  text-align: center;
}

.team-text {
  text-align: center;
}
/*-----------------FOOTER--------------- */

.footer {
  background: var(--title-text-color);
}
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
}
.web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}

/*----------------- PORTFOLIO --------------- */
.filter {
}
.filter-list {
}
.filter-item {
}
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: var(--filter-btn-coolor);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background: var(--pressed-color);
}
.card {
}
.card-list {
}
.card-item {
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.card-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
